In [1]:
# print('Regression with keras')

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1]

In [12]:
import keras
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [13]:
# from keras.models import Sequential
# from keras.layers import Dense

X = concrete_data[['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer' , 'Coarse Aggregate' , 'Fine Aggregate','Age']].values
y = concrete_data["Strength"]
# X[0:5]

In [14]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))

    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
# Step 1: Split the data into training and test sets
mse_list = []
for _ in range(3):
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=None)
    # # Step 2: Build the model
    model = regression_model()
    # Step 3: Train the model
    model.fit(X_train,y_train, validation_split=0.3, epochs=50, verbose=2)
    # Step 4: Evaluate the model
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mse_list.append(mse)

# Step 5: Report the mean and standard deviation of mean squared errors
mse_array = np.array(mse_list)
mean_mse = mse_array.mean()
std_mse = mse_array.std()

print("Mean of Mean Squared Errors:", mean_mse)
print("Standard Deviation of Mean Squared Errors:", std_mse)
print("list of mean squared errors : ", mse_list)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 504 samples, validate on 217 samples
Epoch 1/50

2024-04-06 00:06:03.435999: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-04-06 00:06:03.453289: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2494075000 Hz
2024-04-06 00:06:03.453906: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55eedd465eb0 executing computations on platform Host. Devices:
2024-04-06 00:06:03.453954: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-04-06 00:06:04.034942: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 2s - loss: 44463.6509 - val_loss: 11494.9283
Epoch 2/50
 - 0s - loss: 3607.5563 - val_loss: 555.0557
Epoch 3/50
 - 0s - loss: 982.7207 - val_loss: 993.7153
Epoch 4/50
 - 0s - loss: 594.2998 - val_loss: 382.0124
Epoch 5/50
 - 0s - loss: 401.7537 - val_loss: 384.0910
Epoch 6/50
 - 0s - loss: 392.2108 - val_loss: 371.6947
Epoch 7/50
 - 0s - loss: 380.2197 - val_loss: 367.5330
Epoch 8/50
 - 0s - loss: 373.5599 - val_loss: 358.7486
Epoch 9/50
 - 0s - loss: 365.3510 - val_loss: 353.9326
Epoch 10/50
 - 0s - loss: 359.3430 - val_loss: 348.9843
Epoch 11/50
 - 0s - loss: 353.1090 - val_loss: 341.6564
Epoch 12/50
 - 0s - loss: 346.7939 - val_loss: 337.0044
Epoch 13/50
 - 0s - loss: 340.8653 - val_loss: 330.2912
Epoch 14/50
 - 0s - loss: 335.1171 - val_loss: 326.3293
Epoch 15/50
 - 0s - loss: 328.7524 - val_loss: 319.5059
Epoch 16/50
 - 0s - loss: 322.5788 - val_loss: 313.6693
Epoch 17/50
 - 0s - loss: 315.7487 - val_loss: 308.5773
Epoch 18/50
 - 0s - loss: 311.1347 - val_loss: 302.7402
Epoch 19/50
 - 0s - loss: 295.9464 - val_loss: 281.1460
Epoch 20/50
 - 0s - loss: 282.1192 - val_loss: 273.1914
Epoch 21/50
 - 0s - loss: 281.7326 - val_loss: 273.5223
Epoch 22/50
 - 0s - loss: 278.7289 - val_loss: 272.7416
Epoch 23/50
 - 0s - loss: 273.6424 - val_loss: 267.7513
Epoch 24/50
 - 0s - loss: 271.6190 - val_loss: 263.4545
Epoch 25/50
 - 0s - loss: 268.1476 - val_loss: 261.5398
Epoch 26/50
 - 0s - loss: 263.4710 - val_loss: 261.5901
Epoch 27/50
 - 0s - loss: 261.0524 - val_loss: 256.7128
Epoch 28/50
 - 0s - loss: 258.2230 - val_loss: 253.7904
Epoch 29/50
 - 0s - loss: 255.1470 - val_loss: 250.5352
Epoch 30/50
 - 0s - loss: 253.3838 - val_loss: 248.9458
Epoch 31/50
 - 0s - loss: 250.4494 - val_loss: 244.8443
Epoch 32/50
 - 0s - loss: 247.8928 - val_loss: 241.6933
Epoch 33/50
 - 0s - loss: 244.0227 - val_loss: 239.8806
Epoch 34/50
 - 0s - loss: 241.2101 - val_loss: 238.6494
Epoch 35/50
 - 0s - loss: 238.9767 - val_loss: 237.4210
Epoch 36/50
 - 0s - loss: 236.2899 - val_loss: 233.0300
Epoch 37/50
 - 0s - loss: 234.4723 - val_loss: 229.6932
Epoch 38/50
 - 0s - loss: 233.5565 - val_loss: 227.6862
Epoch 39/50
 - 0s - loss: 229.1036 - val_loss: 225.2977
Epoch 40/50
 - 0s - loss: 225.4105 - val_loss: 224.2661
Epoch 41/50
 - 0s - loss: 224.4119 - val_loss: 222.1492
Epoch 42/50
 - 0s - loss: 220.8625 - val_loss: 217.8845
Epoch 43/50
 - 0s - loss: 218.0898 - val_loss: 216.2516
Epoch 44/50
 - 0s - loss: 215.6347 - val_loss: 216.8226
Epoch 45/50
 - 0s - loss: 214.4352 - val_loss: 210.9770
Epoch 46/50
 - 0s - loss: 212.4375 - val_loss: 207.5094
Epoch 47/50
 - 0s - loss: 208.0498 - val_loss: 206.7404
Epoch 48/50
 - 0s - loss: 207.5227 - val_loss: 204.0278
Epoch 49/50
 - 0s - loss: 203.2241 - val_loss: 202.2817
Epoch 50/50
 - 0s - loss: 200.5782 - val_loss: 198.6116
Train on 504 samples, validate on 217 samples
Epoch 1/50
 - 1s - loss: 364431.9214 - val_loss: 192761.4133
Epoch 2/50
 - 0s - loss: 102749.3576 - val_loss: 36343.0268
Epoch 3/50
 - 0s - loss: 13560.1955 - val_loss: 2167.5773
Epoch 4/50
 - 0s - loss: 1549.9716 - val_loss: 1308.6458
Epoch 5/50
 - 0s - loss: 1155.4624 - val_loss: 1103.1435
Epoch 6/50
 - 0s - loss: 967.3320 - val_loss: 851.0283
Epoch 7/50
 - 0s - loss: 825.6889 - val_loss: 755.9627
Epoch 8/50
 - 0s - loss: 691.1757 - val_loss: 672.5318
Epoch 9/50
 - 0s - loss: 621.6370 - val_loss: 609.1359
Epoch 10/50
 - 0s - loss: 568.2947 - val_loss: 579.6191
Epoch 11/50
 - 0s - loss: 518.9309 - val_loss: 529.9271
Epoch 12/50
 - 0s - loss: 481.4722 - val_loss: 487.3459
Epoch 13/50
 - 0s - loss: 446.4417 - val_loss: 469.1594
Epoch 14/50
 - 0s - loss: 419.4810 - val_loss: 446.1856
Epoch 15/50
 - 0s - loss: 391.4250 - val_loss: 407.1292
Epoch 16/50
 - 0s - loss: 367.4391 - val_loss: 386.4006
Epoch 17/50
 - 0s - loss: 343.6513 - val_loss: 379.2961
Epoch 18/50
 - 0s - loss: 325.2657 - val_loss: 378.7607
Epoch 19/50
 - 0s - loss: 310.5922 - val_loss: 336.8646
Epoch 20/50
 - 0s - loss: 299.9194 - val_loss: 331.2647
Epoch 21/50
 - 0s - loss: 281.1057 - val_loss: 309.5892
Epoch 22/50
 - 0s - loss: 271.1380 - val_loss: 299.5952
Epoch 23/50
 - 0s - loss: 260.6136 - val_loss: 289.6441
Epoch 24/50
 - 0s - loss: 253.8130 - val_loss: 289.0215
Epoch 25/50
 - 0s - loss: 244.7561 - val_loss: 294.6808
Epoch 26/50
 - 0s - loss: 237.4787 - val_loss: 273.4331
Epoch 27/50
 - 0s - loss: 229.8941 - val_loss: 259.6101
Epoch 28/50
 - 0s - loss: 227.6953 - val_loss: 253.8150
Epoch 29/50
 - 0s - loss: 218.0586 - val_loss: 248.7676
Epoch 30/50
 - 0s - loss: 214.6249 - val_loss: 247.3958
Epoch 31/50
 - 0s - loss: 211.5378 - val_loss: 246.5310
Epoch 32/50
 - 0s - loss: 205.0599 - val_loss: 238.2058
Epoch 33/50
 - 0s - loss: 200.7276 - val_loss: 241.4661
Epoch 34/50
 - 0s - loss: 203.0402 - val_loss: 234.4982
Epoch 35/50
 - 0s - loss: 194.1113 - val_loss: 224.5703
Epoch 36/50
 - 0s - loss: 189.9118 - val_loss: 226.2984
Epoch 37/50
 - 0s - loss: 187.4369 - val_loss: 218.8630
Epoch 38/50
 - 0s - loss: 188.8646 - val_loss: 256.4495
Epoch 39/50
 - 0s - loss: 181.4274 - val_loss: 213.5016
Epoch 40/50
 - 0s - loss: 178.9545 - val_loss: 222.2340
Epoch 41/50
 - 0s - loss: 177.5066 - val_loss: 212.7470
Epoch 42/50
 - 0s - loss: 177.2496 - val_loss: 216.4679
Epoch 43/50
 - 0s - loss: 170.7259 - val_loss: 209.7694
Epoch 44/50
 - 0s - loss: 167.5874 - val_loss: 200.6618
Epoch 45/50
 - 0s - loss: 165.8663 - val_loss: 198.3573
Epoch 46/50
 - 0s - loss: 163.7102 - val_loss: 196.1825
Epoch 47/50
 - 0s - loss: 169.3015 - val_loss: 194.5275
Epoch 48/50
 - 0s - loss: 160.0185 - val_loss: 217.4764
Epoch 49/50
 - 0s - loss: 159.4006 - val_loss: 193.6737
Epoch 50/50
 - 0s - loss: 155.5220 - val_loss: 189.9312
Train on 504 samples, validate on 217 samples
Epoch 1/50
 - 1s - loss: 481.7603 - val_loss: 421.4307
Epoch 2/50
 - 0s - loss: 377.3451 - val_loss: 393.5611
Epoch 3/50
 - 0s - loss: 341.3970 - val_loss: 365.1137
Epoch 4/50
 - 0s - loss: 323.2594 - val_loss: 330.8153
Epoch 5/50
 - 0s - loss: 288.8240 - val_loss: 307.0980
Epoch 6/50
 - 0s - loss: 269.8734 - val_loss: 279.5601
Epoch 7/50
 - 0s - loss: 249.5480 - val_loss: 261.8932
Epoch 8/50
 - 0s - loss: 233.0281 - val_loss: 257.6085
Epoch 9/50
 - 0s - loss: 220.3194 - val_loss: 230.5306
Epoch 10/50
 - 0s - loss: 205.1676 - val_loss: 217.8906
Epoch 11/50
 - 0s - loss: 197.3397 - val_loss: 209.6826
Epoch 12/50
 - 0s - loss: 187.7857 - val_loss: 207.6336
Epoch 13/50
 - 0s - loss: 174.9212 - val_loss: 190.8223
Epoch 14/50
 - 0s - loss: 165.9733 - val_loss: 187.1063
Epoch 15/50
 - 0s - loss: 164.5007 - val_loss: 179.1288
Epoch 16/50
 - 0s - loss: 154.5257 - val_loss: 176.2415
Epoch 17/50
 - 0s - loss: 155.1076 - val_loss: 170.5655
Epoch 18/50
 - 0s - loss: 147.4103 - val_loss: 167.6542
Epoch 19/50
 - 0s - loss: 143.3263 - val_loss: 170.9711
Epoch 20/50
 - 0s - loss: 139.8759 - val_loss: 163.3693
Epoch 21/50
 - 0s - loss: 137.8275 - val_loss: 184.0091
Epoch 22/50
 - 0s - loss: 138.2210 - val_loss: 160.4616
Epoch 23/50
 - 0s - loss: 136.1250 - val_loss: 159.2154
Epoch 24/50
 - 0s - loss: 133.7483 - val_loss: 159.1027
Epoch 25/50
 - 0s - loss: 138.4055 - val_loss: 172.2065
Epoch 26/50
 - 0s - loss: 136.0160 - val_loss: 163.1728
Epoch 27/50
 - 0s - loss: 130.7796 - val_loss: 153.0111
Epoch 28/50
 - 0s - loss: 126.2976 - val_loss: 154.0702
Epoch 29/50
 - 0s - loss: 126.6657 - val_loss: 156.6038
Epoch 30/50
 - 0s - loss: 123.7448 - val_loss: 149.5364
Epoch 31/50
 - 0s - loss: 125.7919 - val_loss: 161.2025
Epoch 32/50
 - 0s - loss: 123.5433 - val_loss: 147.2043
Epoch 33/50
 - 0s - loss: 122.7328 - val_loss: 143.2206
Epoch 34/50
 - 0s - loss: 117.1102 - val_loss: 140.0035
Epoch 35/50
 - 0s - loss: 119.3411 - val_loss: 137.5332
Epoch 36/50
 - 0s - loss: 115.4629 - val_loss: 144.8524
Epoch 37/50
 - 0s - loss: 114.0258 - val_loss: 135.6766
Epoch 38/50
 - 0s - loss: 113.8805 - val_loss: 135.3878
Epoch 39/50
 - 0s - loss: 113.9904 - val_loss: 141.2559
Epoch 40/50
 - 0s - loss: 113.3198 - val_loss: 141.9065
Epoch 41/50
 - 0s - loss: 115.1879 - val_loss: 147.1998
Epoch 42/50
 - 0s - loss: 110.0301 - val_loss: 132.5341
Epoch 43/50
 - 0s - loss: 108.1121 - val_loss: 130.1103
Epoch 44/50
 - 0s - loss: 107.0947 - val_loss: 128.3569
Epoch 45/50
 - 0s - loss: 107.2740 - val_loss: 125.8841
Epoch 46/50
 - 0s - loss: 107.8076 - val_loss: 126.5563
Epoch 47/50
 - 0s - loss: 104.0776 - val_loss: 127.5603
Epoch 48/50
 - 0s - loss: 103.1373 - val_loss: 123.2264
Epoch 49/50
 - 0s - loss: 108.2397 - val_loss: 130.0267
Epoch 50/50
 - 0s - loss: 104.3489 - val_loss: 124.5729
Mean of Mean Squared Errors: 168.69487517745623
Standard Deviation of Mean Squared Errors: 37.567731902345756
list of mean squared errors :  [216.42804306462844, 165.0312670795485, 124.62531538819174]

In [16]:
print("Observation :")
print("In comparation to step B , with three activation layers , the MSE is lower and the standard deviation of the mean squared errors is slightly higher.")

Observation :
In comparation to step B , with three activation layers , the MSE is lower and the standard deviation of the mean squared errors is slightly higher.